.admin {
  height: 100vh;
  // > i {
  //   display: block;
  //   line-height: 64px;
  // }
  .ant-layout-header {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  
}